.row {
	height: 100vh;
}

.col {
	height:100vh;
	width: 100vw;
}

.col-md-10 {
	height: 100vh;
	width: 100vw;
	padding: 20px;
}

.sidebar {
	position: fixed;
	height: 100vh;
	padding: 20px;
	border-right: 1px solid #eee;
}

#path-image {
	/*transform: rotate(-90deg);*/
	position: inherit;
	z-index: -1;
	height: 100%;
	width: auto;
	top: 0px;
	/*display: block;*/

}

#navigation-plot {
	/*background-image: url('odroid-desktop:8080/?');*/
	display: inline-block;
	position: absolute;
	top: 1px;
	/*background-color: black;*/
}

